# Understanding Pandas Series and DataFrames - Lab

## Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

## Let's get started!

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Rename all the columns to lower case

In [4]:
#Your code here
df.columns=[i.lower() for i in df.columns]

## Change the Index to be the Line Names

In [5]:
#Your code here
df.set_index(df.index+1)

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,00:00:00,REGULAR,6736683,2283460
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,04:00:00,REGULAR,6736696,2283461
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,08:00:00,REGULAR,6736705,2283483
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,12:00:00,REGULAR,6736746,2283524
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,16:00:00,REGULAR,6736873,2283587
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,20:00:00,REGULAR,6737067,2283631
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,00:00:00,REGULAR,6737136,2283656
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,04:00:00,REGULAR,6737146,2283658
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,08:00:00,REGULAR,6737169,2283736
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,12:00:00,REGULAR,6737301,2283965
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,16:00:00,REGULAR,6737553,2284025
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,20:00:00,REGULAR,6738257,2284091
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,00:00:00,REGULAR,6738430,2284121
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,04:00:00,REGULAR,6738442,2284126
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,08:00:00,REGULAR,6738474,2284216
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,12:00:00,REGULAR,6738621,2284402
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,16:00:00,REGULAR,6738886,2284425
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,20:00:00,REGULAR,6739630,2284478
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,00:00:00,REGULAR,6739804,2284508
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,04:00:00,REGULAR,6739812,2284512
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,08:00:00,REGULAR,6739847,2284600
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,12:00:00,REGULAR,6739986,2284838
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,16:00:00,REGULAR,6740257,2284896
30,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,20:00:00,REGULAR,6740888,2284941
...,...,...,...,...,...,...,...,...,...,...,...
197596,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,01:00:00,REGULAR,5554,348
197597,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,05:00:00,REGULAR,5554,348
197598,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,09:00:00,REGULAR,5554,348
197599,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,13:00:00,REGULAR,5554,348
197600,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,17:00:00,REGULAR,5554,348
197601,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,21:00:00,REGULAR,5554,348
197602,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,01:00:00,REGULAR,5554,348
197603,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,05:00:00,REGULAR,5554,348
197604,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,09:00:00,REGULAR,5554,348
197605,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,13:00:00,REGULAR,5554,348
197606,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,17:00:00,REGULAR,5554,348
197607,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,21:00:00,REGULAR,5554,348
197608,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,01:00:00,REGULAR,5554,348
197609,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,05:00:00,REGULAR,5554,348
197610,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,09:00:00,REGULAR,5554,348
197611,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,13:00:00,REGULAR,5554,348
197612,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,17:00:00,REGULAR,5554,348
197613,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,21:00:00,REGULAR,5554,348
197614,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,01:00:00,REGULAR,5554,348
197615,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,05:00:00,REGULAR,5554,348
197616,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,09:00:00,REGULAR,5554,348
197617,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,13:00:00,REGULAR,5554,348
197618,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,17:00:00,REGULAR,5554,348
197619,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,21:00:00,REGULAR,5554,348
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,01:00:00,REGULAR,5554,348
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,REGULAR,5554,348
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,REGULAR,5554,348
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,REGULAR,5554,348
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,REGULAR,5554,348
197625,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348

# Change the index back

In [6]:
# Your code here
df.reindex().head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order
*Hint: According to the [data dictionary](http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt), LINENAME represents all train lines that can be boarded at a given station. Normally lines are represented by one character. For example, LINENAME 456NQR represents trains 4, 5, 6, N, Q, and R.*

In [7]:
# Your code here
df['passthrough']=df.groupby(['station'])['linename'].transform('nunique')

df.sort_values(by='passthrough', inplace=True)
df[df['station']=="59 ST"].head(10)

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,passthrough
336,A002,R051,02-03-06,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,8623676,492299,3
335,A002,R051,02-03-05,59 ST,NQR456W,BMT,08/31/2018,20:00:00,REGULAR,10976927,1368027,3
334,A002,R051,02-03-05,59 ST,NQR456W,BMT,08/31/2018,16:00:00,REGULAR,10976324,1368014,3
333,A002,R051,02-03-05,59 ST,NQR456W,BMT,08/31/2018,12:00:00,REGULAR,10975861,1367999,3
332,A002,R051,02-03-05,59 ST,NQR456W,BMT,08/31/2018,08:00:00,REGULAR,10975537,1367958,3
331,A002,R051,02-03-05,59 ST,NQR456W,BMT,08/31/2018,04:00:00,REGULAR,10975441,1367924,3
330,A002,R051,02-03-05,59 ST,NQR456W,BMT,08/31/2018,00:00:00,REGULAR,10975405,1367924,3
329,A002,R051,02-03-05,59 ST,NQR456W,BMT,08/30/2018,20:00:00,REGULAR,10975083,1367912,3
328,A002,R051,02-03-05,59 ST,NQR456W,BMT,08/30/2018,16:00:00,REGULAR,10974411,1367889,3
337,A002,R051,02-03-06,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,8623692,492299,3

## Write a function to clean a column name

In [8]:
def clean(col_name):
    cleaned = col_name.replace(r" ","")#Your code here; whatever you want to do to col_name. Hint: think back to str methods.
    return cleaned

In [9]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [10]:
#Checking the output, we can see the results.
df.columns

Index(['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries', 'exits', 'passthrough'],
      dtype='object')

## Group the Data by Day of Week and Plot the Sum of The Numeric Columns

In [ ]:
df['date']=pd.to_datetime(df['date'])
#Your code here

In [ ]:
df['weekday']=df['date'].dt.weekday

In [ ]:
df.head()

In [ ]:
df_agg=df.groupby('weekday')[['entries','exits']].apply(lambda x: x.sum())

## Group the Data by Weekend/Weekday and Plot the Sum of the Numeric Columns

In [ ]:
#Your code here

## Analysis Question: 

What is misleading about the day of week and weekend/weekday charts you just plotted?

In [ ]:
# Your answer here

## Drop a couple of columns

In [ ]:
# Your code here

## Summary

Great! You practiced your data cleanup-skills using Pandas.